<!-- Start Footer Area -->
<footer class="footer-area ptb-80">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="widgets">
          <div class="footer-logo">
            <a href="index.html">
              <img src="assets/img/footer-logo.png" alt="logo"
            /></a>
          </div>
          <ul class="contact-us">
            <li>
              <i class="fa fa-map-marker"></i> 6000 Universal Blvd, Orlando, FL
              32819, USA
            </li>
            <li>
              <i class="fa fa-phone"></i> <a href="#"> +001 321 254-5874</a>
            </li>
            <li>
              <i class="fa fa-envelope"></i>
              <a href="#"> info@lawyercourt.com</a>
            </li>
          </ul>
          <ul class="social">
            <li>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </li>
            <li>
              <a href="#" class="google-plus"
                ><i class="fa fa-google-plus"></i
              ></a>
            </li>
            <li>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="widgets">
          <h3>Usefull Links</h3>
          <ul class="usefull-links">
            <li>
              <a href="index.html"
                ><i class="fa fa-angle-double-right"></i> Home</a
              >
            </li>
            <li>
              <a href="about-us.html"
                ><i class="fa fa-angle-double-right"></i> About Us</a
              >
            </li>
            <li>
              <a href="services-style-one.html"
                ><i class="fa fa-angle-double-right"></i> Services</a
              >
            </li>
            <li>
              <a href="gallery-style-one.html"
                ><i class="fa fa-angle-double-right"></i> Gallery</a
              >
            </li>
            <li>
              <a href="blog-style-one.html"
                ><i class="fa fa-angle-double-right"></i> Blog</a
              >
            </li>
            <li>
              <a href="faq.html"
                ><i class="fa fa-angle-double-right"></i> FAQ</a
              >
            </li>
            <li>
              <a href="login.html"
                ><i class="fa fa-angle-double-right"></i> Login</a
              >
            </li>
            <li>
              <a href="register.html"
                ><i class="fa fa-angle-double-right"></i> Register</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="widgets">
          <h3>Latest Tweets</h3>
          <div class="latest-tweets-post">
            <div class="icon">
              <i class="fa fa-twitter"></i>
            </div>
            <div class="content">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                turpis massa, <a href="#">@Morbi turpis massa</a>
              </p>
              <span>About an hour ago</span>
            </div>
          </div>

          <div class="latest-tweets-post mb-0">
            <div class="icon">
              <i class="fa fa-twitter"></i>
            </div>
            <div class="content">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                turpis massa, <a href="#">@Morbi turpis massa</a>
              </p>
              <span>About an hour ago</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="widgets">
          <h3>Subscribe Us</h3>
          <div class="subscribe-us">
            <p>
              Subscribe to our Newsletter and get bonuses for the next purchase
            </p>
            <form>
              <div class="form-group mb-0">
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  id="email"
                  placeholder="Enter Your E-Mail"
                />
                <button type="submit">
                  <i class="fa fa-paper-plane-o"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-7">
          <p>
            <i class="fa fa-copyright"></i> 2018
            <a href="http://envytheme.com/" target="_blank">EnvyTheme.</a> All
            rights reserved.
          </p>
        </div>

        <div class="col-lg-5 col-md-5">
          <ul>
            <li>
              <a href="#"><img src="assets/img/paypal.png" alt="paypal"/></a>
            </li>
            <li>
              <a href="#"><img src="assets/img/visa.png" alt="visa"/></a>
            </li>
            <li>
              <a href="#"
                ><img src="assets/img/master-card.png" alt="master-card"
              /></a>
            </li>
            <li>
              <a href="#"><img src="assets/img/maestro.png" alt="maestro"/></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer Area -->

<div class="go-top"><i class="fa fa-angle-up"></i></div>
<!-- jQuery Min JS -->
<script src="assets/js/jquery-min.js"></script>
<!-- Prpper JS -->
<script src="assets/js/popper.min.js"></script>
<!-- Bootstrap Min JS -->
<script src="assets/js/bootstrap.min.js"></script>
<!-- Owl Carousel Min Js -->
<script src="assets/js/owl.carousel.min.js"></script>
<!-- Jquery Magnific Popup Min Js -->
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<!-- Jquery Mixitup Min Js -->
<script src="assets/js/jquery.mixitup.min.js"></script>
<!-- Waypoints Min Js -->
<script src="assets/js/waypoints.min.js"></script>
<!-- Jquery CounterUp Min JS -->
<script src="assets/js/jquery.counterup.min.js"></script>
<!-- Wow Min JS -->
<script src="assets/js/wow.min.js"></script>
<!-- Classy Nav Min JS -->
<script src="assets/js/classy-nav.min.js"></script>
<!-- Form Validator Min JS -->
<script src="assets/js/form-validator.min.js"></script>
<!-- Contact Form Min JS -->
<script src="assets/js/contact-form-script.js"></script>
<!-- Gallery Slider JS -->
<script src="assets/js/gallery-slider.js"></script>
<!-- Main JS -->
<script src="assets/js/main.js"></script>
<!-- Color Switcher JS -->
<script src="assets/dist/color-switcher.js"></script>
<!-- Active Switcher JS -->
<script src="assets/dist/active-switcher.js"></script>
